.body {
  margin: 0%;
}
.page {
  font-family: "Roboto", sans-serif;
  max-width: 1400px;
}
.header {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 48px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header-blue {
  color: #3e45e8;
}
.header-yellow {
  color: #e8c23e;
}
.fon {
  width: 100%;
  height: 700px;
}
.fonimg {
  width: 100%;
  height: 740px;
  background-image: url("../img/фонове\ зображення.png");
  background-repeat: no-repeat;
  background-size: 1400px;
}
.flag1 {
  background-image: url(../img/img\ прапор.png);
  background-repeat: no-repeat;
  background-size: 40px;
  padding-bottom: 755px;
  background-position: 3%;
}
.fontext {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  color: #ffffff;
  margin-top: -420px;
  padding-left: 10%;
  padding-right: 10%;
}
.content_up {
  margin-top: 7%;
}
.head-content {
  /* margin-top: 0px; */
  margin-left: 70px;
  margin-bottom: 0.5%;
  font-size: 30px;
}

.flag2 {
  margin-bottom: 40px;
  margin-left: 0px;
}
.content {
  text-align: center;
}
.content1 {
  width: 259px;
  height: 400px;
  border: 5px solid #0d095f;
  border-radius: 8%;
  box-shadow: -16px 21px 40px #00d1ff59;
  display: inline-block;
  /* margin: 12px; */
  margin-bottom: 12px;
  overflow: hidden;
}
.content1:hover img {
  transition: transform 0.5s;
  transform: scale(1.1);
}
.contimg1 {
  width: 260px;
}
.content2 {
  width: 259px;
  height: 400px;
  border: 5px solid #0d095f;
  border-radius: 8%;
  box-shadow: 0px 21px 35px #00d1ff59;
  display: inline-block;
  margin: 12px;
  overflow: hidden;
}
.content2:hover img {
  transition: transform 0.5s;
  transform: scale(1.1);
}
.contimg2 {
  width: 260px;
}
.content3 {
  width: 259px;
  height: 400px;
  border: 5px solid #0d095f;
  border-radius: 8%;
  box-shadow: 16px 21px 40px #00d1ff59;
  display: inline-block;
  margin: 12px;
  overflow: hidden;
}
.content3:hover img {
  transition: transform 0.5s;
  transform: scale(1.1);
}
.contimg3 {
  width: 260px;
}
.conttextblue {
  color: #0072db;
  font-size: 24px;
  width: 700;
}
.conttextblue:hover {
  color: red;
}
.conttextyellow {
  color: #ff9900;
  font-size: 20px;
}
.body-bottom {
  text-align: center;
}
.ukr {
  font-size: 30px;
  border-bottom: 7px solid #1400ff;
  width: 35%;
  margin: 20px auto;
}
.ukrimg {
  width: 75%;
}
.button {
  width: 20%;
  margin: 0 auto;
  font-size: 64px;
  background-color: #2a61f0;
  border-radius: 90px 90px;
  margin-bottom: 40px;
  margin-top: 25px;
}
.click {
  text-decoration: none;
}
.go {
  color: #ffffff;
}
.footer {
  height: 235px;
  border: 0px black;
  background: linear-gradient(to top, #0d0661 0%, #013235 100%);
}
.contact {
  color: #a89d9d;
  font-size: 36px;
  margin: 5px;
}
.footerSU {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  margin: 5px;
}
.footer-blue {
  color: #3e45e8;
}
.footer-yellow {
  color: #dfe31e;
}
.media {
  margin: 10px;
}
