body {
  margin: 0%;
}
.page {
  max-width: 1500px;
  font-family: "Roboto", sans-serif;
}
.fonimg {
  width: 1500px;
  height: 700px;
  background-image: url("../img/фон.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100%;
}
.name_fon {
  text-align: center;
  padding-top: 10%;
}
.menu_card {
  font-family: "Inter", sans-serif;
  weight: 400;
  font-size: 40px;
  margin-left: 85px;
  margin-bottom: -5px;
}
.content_card {
  text-align: center;
}
.card1 {
  width: 400px;
  height: 460px;
  display: inline-block;
  background-color: #231b0c;
  margin: 25px;
  overflow: hidden;
}
.card2 {
  width: 400px;
  height: 460px;
  display: inline-block;
  background-color: #231b0c;
  margin: 25px;
  overflow: hidden;
}
.card3 {
  width: 400px;
  height: 460px;
  display: inline-block;
  background-color: #231b0c;
  margin: 25px;
  overflow: hidden;
}
.galeryphoto {
  padding-top: 7rem;
}
.nameimg {
  padding-top: 1rem;
}
.venice {
  text-align: center;
}
.photo {
  width: 87%;
  margin-top: 10px;
}
.footer {
  width: 100%;
  height: 250px;
  background-color: #150f02;
  text-align: center;
  margin-top: 30px;
}
.menu {
  padding: 1%;
}
.imgbottom1 {
  padding-right: 25%;
  padding-bottom: 2%;
}
.imgbottom2 {
  padding-bottom: 2%;
}
.imgbottom3 {
  padding-right: 25%;
  position: relative;
  left: -25px;
}
.imgbottom4 {
}
.contact {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-top: 0%;
}
.line {
  border-bottom: 10px solid #ff6b00;
  /* margin-left: 35%;
  margin-right: 35%; */
  width: 20%;
  margin: auto;
  /* margin-top: -1%; */
}
.network {
  text-align: center;
}
.net {
  margin: 20px;
}
.site {
  text-decoration: none;
}
