body {
  margin: 30px;
  font-family: "Space Grotesk", sans-serif;
}
.fon {
  margin: 0 auto;
  background: linear-gradient(90deg, #3e718e 50%, #64969b 100%);
  max-width: 1500px;
  min-width: 1000px;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fon_page {
  display: flex;
  background-color: #fff;
  width: 1000px;
  height: 650px;
}
.left_side {
  width: 500px;
}
.left_header {
  margin-left: 35px;
  margin-top: 15px;
}
.left_header a {
  background: linear-gradient(#496f74 0%, #6e9195 35%, #2d4f61 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
}
.name_form {
  margin-top: 55px;
  text-align: center;
  font-size: 20px;
}
.form {
  margin-left: 80px;
  margin-right: 80px;
  /* display: table-caption; */
}
.form label {
  display: inline-block;
  color: black;
  font-size: 16px;
  padding: 5px;
  font-weight: 700;
}
.form input {
  width: 300px;
  height: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
}
.optional {
  color: rgba(8, 8, 8, 0.7);
  /* color: #a8a8a8; */
  font-size: 12px;
  font-weight: 400;
}
.password {
  color: rgba(8, 8, 8, 0.7);
  font-size: 10px;
  font-weight: 400;
}
.form label ::placeholder {
  color: rgba(50, 50, 50, 0.3);
}
.submit {
  background-color: #284a5e;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  margin-top: 40px;
}
.submit[type="submit"] {
  width: 330px;
  height: 40px;
}
.right_side {
  background: linear-gradient(#517879, #214159);
  box-shadow: -5px 0px 10px #4e7577;
  width: 500px;
}
.right_header {
  display: flex;
  justify-content: right;
}
.right_header a {
  color: #fff;
  font-size: 16px;
  padding-right: 20px;
  margin-top: 15px;
  text-decoration: none;
}
.quote h2 {
  color: #fff;
  font-size: 48px;
  margin-top: 180px;
  padding-left: 80px;
  padding-right: 70px;
  font-weight: 700;
}
.quote p {
  color: #fff;
  font-size: 16px;
  padding-left: 80px;
  margin-top: -40px;
}
.login {
  margin-top: 10px;
  text-align: center;
  color: #c4c4c4;
  font-size: 16px;
}
.login a {
  color: #476d73;
  text-decoration: none;
  border-bottom: 1px solid #476d73;
}
