@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
.page {
  width: 760px;
  height: 460px;
  background-color: #ffb084;
  display: grid;
  border-radius: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  margin: 0 auto;
}
.frame_1 {
  background-color: #fff;
  border-radius: 20px;
  grid-row: 1/11;
  grid-column: 1/5;
  box-shadow: 7px 7px 0px 0px black;
}
.frame_1 h2 {
  text-align: center;
  font-size: 18px;
}
.frame_1 p {
  font-size: 12px;
}
.foto {
  text-align: center;
}
.text {
  padding: 0px 25px;
  font-size: 14px;
}
.text span {
  font-weight: 700;
}
.frame_2 {
  background-color: #fff;
  border-radius: 20px;
  grid-row: 11/13;
  grid-column: 1/5;
  box-shadow: 7px 7px 0px 0px black;
}
.frame_2 div {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.frame_3 {
  background-color: #fff;
  border-radius: 20px;
  grid-column: 5/13;
  grid-row: 1/4;
  box-shadow: 7px 7px 0px 0px black;
}
.frame_3 h2 {
  font-size: 14px;
  margin-top: 5px;
}
.frame_3 p {
  font-size: 14px;
  margin-top: -5px;
}
.frame_4 {
  background-color: #fff;
  border-radius: 20px;
  grid-column: 5/9;
  grid-row: 4/8;
  box-shadow: 7px 7px 0px 0px #29a71e;
}
.frame_4 h2 {
  color: #29a71e;
  font-size: 14px;
}
.frame_4 li {
  font-size: 14px;
}
.frame_5 {
  background-color: #fff;
  border-radius: 20px;
  grid-column: 5/9;
  grid-row: 8/13;
  box-shadow: 7px 7px 0px 0px #3675b0;
}
.frame_5 h2 {
  color: #3675b0;
  font-size: 14px;
}
.frame_5 li {
  font-size: 14px;
}
.frame_6 {
  background-color: #fff;
  border-radius: 20px;
  grid-row: 4/9;
  grid-column: 9/13;
  box-shadow: 7px 7px 0px 0px #e13535;
}
.frame_6 h2 {
  color: #e13535;
  font-size: 14px;
}
.frame_6 li {
  font-size: 14px;
}
.frame_7 {
  background-color: #fff;
  border-radius: 20px;
  grid-column: 9/13;
  grid-row: 9/13;
  box-shadow: 7px 7px 0px 0px black;
}
.frame_7 h2 {
  font-size: 14px;
}
.frame_7 span {
  font-weight: 700;
}
.frame_7 ul {
  padding: 0px;
}
.frame_7 li {
  list-style: none;
  font-size: 14px;
  padding: 0px 20px;
}
.frame {
  padding: 9px;
}
