@import url("https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,700&display=swap");
body {
  margin: 0 auto;
  font-family: "Rosario", sans-serif;
}
.page {
  width: 100%;
}
a {
  text-decoration: none;
}
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 140px;
  width: 100%;
  display: flex;
}
.logo img {
  width: 100%;
  height: 140px;
}
.nav {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  background-color: #000;
}
.nav li {
  list-style: none;
  padding-right: 10px;
}
.nav-link {
  display: block;
  padding: 15px;
  color: #fffcfc;
  font-size: 26px;
  font-style: italic;
}
.gallery {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  overflow: hidden;
}
.fon_foto {
  display: flex;
}
.gallery img {
  padding: 20px;
}
.leftimg1,
.rightimg1 {
  align-self: center;
}
.leftimg2,
.rightimg2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.leftimg1 {
  transform: translateX(-100%);
  animation: leftimg1 2s linear 1 forwards;
}
.rightimg1 {
  transform: translateX(100%);
  animation: rightimg1 2s linear 1 forwards;
}
.leftimg2 {
  transform: translateX(-200%);
  animation: leftimg2 1s linear 1 forwards;
}
.rightimg2 {
  transform: translateX(200%);
  animation: rightimg2 1s linear 1 forwards;
}
@keyframes leftimg1 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes leftimg2 {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes rightimg1 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes rightimg2 {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

/* services */

.services {
  margin-top: 100px;
  display: flex;
  position: relative;
}
.left_part {
  width: 50%;
  display: flex;
  align-self: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.left_part img {
  padding: 20px;
  width: 80%;
}
.left_part p {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 0px;
  font-style: italic;
}
.right_part {
  width: 50%;
  position: relative;
}
.right_part img {
  width: 100%;
}
.left_foto1 {
  position: absolute;
  top: 0;
  left: 0;
  animation: left_foto1 25s linear infinite;
}
.left_foto2 {
  position: absolute;
  top: 0;
  left: 30%;
  animation: left_foto2 25s linear infinite;
}
.left_foto3 {
  position: absolute;
  top: 50%;
  left: 30%;
  animation: left_foto3 25s linear infinite;
}
.left_foto4 {
  position: absolute;
  top: 50%;
  left: 0;
  animation: left_foto4 25s linear infinite;
}
@keyframes left_foto1 {
  from {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 30%;
  }
  50% {
    top: 50%;
    left: 30%;
  }
  75% {
    top: 50%;
    left: 0;
  }

  to {
    top: 0;
    left: 0;
  }
}
@keyframes left_foto2 {
  from {
    top: 0;
    left: 30%;
  }
  25% {
    top: 50%;
    left: 30%;
  }
  50% {
    top: 50%;
    left: 0;
  }
  75% {
    top: 0;
    left: 0;
  }

  to {
    top: 0;
    left: 30%;
  }
}
@keyframes left_foto3 {
  from {
    top: 50%;
    left: 30%;
  }
  25% {
    top: 50%;
    left: 0;
  }
  50% {
    top: 0;
    left: 0;
  }
  75% {
    top: 0;
    left: 30%;
  }

  to {
    top: 50%;
    left: 30%;
  }
}
@keyframes left_foto4 {
  from {
    top: 50%;
    left: 0;
  }
  25% {
    top: 0;
    left: 0;
  }
  50% {
    top: 0;
    left: 30%;
  }
  75% {
    top: 50%;
    left: 30%;
  }

  to {
    top: 50%;
    left: 0;
  }
}

/* TEAM */
.team {
  margin-top: 100px;
}
.teamh2 h2 {
  text-align: center;
  font-size: 50px;
}
.cards {
  width: 100%;
  padding: 20px;
  gap: 20px;
  display: flex;
  justify-content: space-around;
}
.cards > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.foto:hover {
  filter: brightness(100%);
}
.cards img {
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.foto {
  filter: brightness(50%);
  position: relative;
}
.foto:hover .name1 {
  height: 200px;
  bottom: 0px;
}
.name1,
.name2,
.name3,
.name4 {
  width: 100%;
  height: 0px;
  position: absolute;
  background: rgba(163, 83, 10, 0.7);
  bottom: 0px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffafa;
  font-weight: 400;
  overflow: hidden;
}
.foto:hover .name2 {
  height: 200px;
  bottom: 0px;
}
/* .name2 {
  width: 100%;
  height: 0px;
  position: absolute;
  background: rgba(163, 83, 10, 0.7);
  bottom: 0px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffafa;
  font-weight: 400;
} */
.foto:hover .name3 {
  height: 200px;
  bottom: 0px;
}
/* .name3 {
  width: 100%;
  height: 0px;
  position: absolute;
  background: rgba(163, 83, 10, 0.7);
  bottom: 0px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffafa;
  font-weight: 400;
} */
.foto:hover .name4 {
  height: 200px;
  bottom: 0px;
}
/* .name4 {
  width: 100%;
  height: 0px;
  position: absolute;
  background: rgba(163, 83, 10, 0.7);
  bottom: 0px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffafa;
  font-weight: 400;
} */
/* FOOTER */

.footer {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.left_footer {
  padding-top: 50px;
  padding-left: 20px;
}
.left_footer h2 {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  font-style: italic;
}
.form {
  width: 940px;
  height: 400px;
  padding-top: 35px;
  background-color: #e5e5e5;
}
.up_form {
  display: flex;
  justify-content: space-around;
}
.up_form input {
  width: 375px;
  height: 80px;
  font-size: 30px;
  border: 0.2px solid #ffffff;
  border-radius: 10px;
}
.right_footer {
  padding-left: 20px;
  padding-right: 20px;
}
.form label ::placeholder {
  font-size: 36px;
  font-weight: 700;
  padding: 20px;
}
.message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
}

textarea {
  width: 875px;
  height: 210px;
  resize: none;
  font-size: 30px;
  border: 0.2px solid #ffffff;
  border-radius: 4px;
}
.right_footer {
  margin-top: 55px;
}
.right_footer iframe {
  width: 625px;
  height: 560px;
}
.contacts {
  /* width: 1920px; */
  height: 250px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
.adress {
  text-align: center;
  font-size: 30px;
}
.adress span {
  font-weight: 700;
}
.adress a {
  font-style: italic;
  text-decoration: none;
  color: #000;
}
.time_work {
  text-align: center;
  font-size: 30px;
  font-style: italic;
}
.time_work span {
  font-size: 36px;
  font-weight: 700;
}
.network {
  font-style: italic;
  font-size: 30px;
}
.network span {
  font-size: 36px;
  font-weight: 700;
}
.network a {
  text-decoration: none;
  color: #000;
}
.network > div {
  margin-left: 80px;
}
.icon1 {
  padding-left: 5px;
  padding-right: 15px;
}
.icon2 {
  padding-right: 10px;
}
.icon3 {
  padding-left: 5px;
  padding-right: 10px;
}
