body {
  margin: 0px;
  font-family: "PT Sans", sans-serif;
}
.page {
  max-width: 100%;
  background-color: #f5eaea;
}
.header {
  width: 100%;
  background-color: #243b93;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  padding: 10px;
}
.nav {
  font-weight: 700;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.nav a {
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
}
.click {
  float: left;
  list-style: none;
  cursor: pointer;
  margin: 0 auto;
}
.ua {
  font-size: 36px;
  text-decoration: none;
}
.language {
  color: #fff;
}
.header2 {
  width: 100%;
  height: 100px;
  font-weight: 400;
  font-style: italic;
  padding: 20px;
  padding-left: 170px;
  box-sizing: border-box;
  background-color: #bff0ff;
  font-size: 44px;
  color: #202846;
}
.search_box {
  width: 80%;
  margin: 0 auto;
  height: 60px;
  margin-top: 25px;
  margin-top: 25px;
}
.search {
  background-color: #fff;
  color: #0000009c;
  font-size: 28px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 560px;
}
.arrow img {
  padding-left: 431px;
}
.box {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
.card {
  background: linear-gradient(100deg, #adcbd4, #00aee5);
  height: 400px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.card:hover {
  box-shadow: 8px 16px 30px #2cbdeb;
}
.img {
  /* width: 30%; */
  padding-top: 55px;
  padding-left: 55px;
}
.content {
  /* width: 50%; */
}
.topic {
  font-weight: 700;
  font-style: italic;
  font-size: 36px;
  padding-left: 80px;
  padding-top: 45px;
  color: #353c57;
}
.border_bottom {
  border-bottom: 5px solid white;
  width: 80%;
  margin-left: 80px;
}
.text {
  width: 80%;
  height: 200px;
  font-weight: 400;
  background-color: #edfbff;
  color: #202846;
  font-size: 22px;
  margin-left: 80px;
  margin-top: 10px;
  overflow: auto;
  padding: 15px;
  box-sizing: border-box;
}
.page_bottom {
  width: 100%;
  height: 100px;
  font-weight: 400;
  font-style: italic;
  background: linear-gradient(100deg, #ffe601, #55d6ff);
  color: #243b93;
  font-size: 44px;
  padding: 15px;
  padding-left: 170px;
  box-sizing: border-box;
}
.info {
  width: 80%;
  height: 450px;
  margin: 30px auto;
  background: linear-gradient(#859eff, #69ffd2);
  margin-bottom: 80px;
  display: flex;
  justify-content: space-around;
}
.left_info {
  padding-top: 50px;
}
.left_info a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
}
.icon {
  padding-bottom: 20px;
}
.button1 {
  font-size: 400;
  background-color: #243b93;
  border-radius: 90px 90px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
  overflow: auto;
}
.button2 {
  font-size: 400;
  background-color: #ef075b;
  border-radius: 90px 90px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  overflow: auto;
}
.right_info {
  padding-top: 60px;
}
.page_bottom2 {
  width: 100%;
  height: 100px;
  background: linear-gradient(100deg, #55d6ff, #ffe601);
  color: #243b93;
  font-size: 44px;
  font-weight: 400;
  font-style: italic;
  padding: 20px;
  padding-left: 170px;
  box-sizing: border-box;
}
.exit {
  justify-content: center;
  display: flex;
  margin-bottom: 80px;
  margin-top: -25px;
}
.button3 {
  background-color: #243b93;
  border-radius: 90px 90px;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
  width: 160px;
}
.button3 a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
}
.footer {
  width: 100%;
  height: 50px;
  background-color: #243b93;
  font-size: 16px;
  color: #ffffff;
  padding: 15px;
  padding-left: 160px;
  box-sizing: border-box;
  font-weight: 700;
}
.name {
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
  color: #353c57;
}
.name2 {
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  color: #353c57;
}
.border_bottom2 {
  border-bottom: 2px solid white;
  width: 100%;
  margin-bottom: 15px;
}
.border_bottom3 {
  border-bottom: 3px solid #202846;
  width: 100%;
  margin-bottom: 15px;
}
.contacts {
  height: 400px;
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
  box-sizing: border-box;
}
.name3 {
  font-size: 30px;
  color: #000000;
  padding-bottom: 10px;
}
.contacts_left {
  padding-left: 80px;
}
.contacts_right {
  padding-right: 80px;
}
.map {
  width: 30rem;
  height: 20rem;
  border: 3px solid #243b93;
  border-radius: 40px;
}
.map iframe {
  width: 30rem;
  height: 20rem;
  border-radius: 40px;
}
.fixed {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.detail1 {
  background-color: #243b93;
  color: #fff;
  border-radius: 90px 90px;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
  width: 190px;
  position: absolute;
  top: 610px;
  right: 100px;
}
.detail1:hover {
  background-color: #ef075b;
}
.detail2 {
  background-color: #243b93;
  color: #fff;
  border-radius: 90px 90px;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
  width: 190px;
  position: absolute;
  top: 960px;
  right: 100px;
}
.detail2:hover {
  background-color: #ef075b;
}
.detail3 {
  background-color: #243b93;
  color: #fff;
  border-radius: 90px 90px;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
  width: 190px;
  position: absolute;
  top: 1400px;
  right: 100px;
}
.detail3:hover {
  background-color: #ef075b;
}
.detail4 {
  background-color: #243b93;
  color: #fff;
  border-radius: 90px 90px;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
  width: 190px;
  position: absolute;
  top: 1840px;
  right: 100px;
}
.detail4:hover {
  background-color: #ef075b;
}
.star1 {
  position: absolute;
  top: 300px;
  right: 180px;
}
.star1:hover {
}
.star2 {
  position: absolute;
  top: 740px;
  right: 180px;
}
.star3 {
  position: absolute;
  top: 1090px;
  right: 180px;
}
.star4 {
  position: absolute;
  top: 1530px;
  right: 180px;
}
