body {
  margin: 0px;
}
.page {
  max-width: 100%;
  /* min-width: 1000px; */
  background-color: #212529;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 40px;
}
.nav {
  width: 50%;
  list-style: none;
  text-align: center;
  font-size: 18px;
  /* display: flex;
  justify-content: space-around; */
}
.nav_menu:hover a {
  color: #ffb742;
}
.nav a {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}
.nav li {
  display: inline-block;
  padding: 25px;
  box-sizing: border-box;
}
.click_Hire_Me {
  width: 140px;
  font-weight: 700;
  height: 50px;
  font-size: 18px;
  background-color: #ffb742;
  border-radius: 50px;
  display: flex;
  margin-right: 40px;
}
.click_Hire_Me a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #212529;
  align-self: center;
  margin: 0 auto;
}
.h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  color: #fff;
  margin-top: 100px;
}
.Kartik_Bansal {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #ffb742;
  border-bottom: 2px solid #ffb742;
}
.h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 48px;
  color: #fff;
}
.fon_text {
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.avatar {
  display: flex;
  justify-content: center;
}
.cards {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 100px auto;
}

.card {
  width: 31.5%;
  background: #292b2e;
  color: var(--color-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.card:hover {
  background: linear-gradient(
    94.3deg,
    #ffb742 0%,
    rgba(255, 123, 66, 0.76) 99.33%
  );
}

.card:hover .card-title,
.card:hover .card-subtitle {
  color: #212529;
}

.card-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  color: var(--color-orange);
}
.card-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--color-white);
}

.about {
  width: 100%;
  margin-top: 100px;
  display: flex;
}
.about > div {
  width: 50%;
}
.foto_about {
  width: 100%;
  padding-left: 5%;
}
.about_right {
  padding-left: 10%;
  padding-right: 10%;
}
.who_i_am {
  width: 170px;
  font-weight: 700;
  height: 50px;
  font-size: 18px;
  color: #ffb742;
  background-color: #2f3234;
  border-radius: 50px;
  /* text-align: center; */
  display: flex;
}
.who_i_am span {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  align-self: center;
  margin: 0 auto;
}
.about_me {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: 0%;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
.about_right p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #d4d4d4;
  margin-top: -2%;
}
.hire_me {
  width: 170px;
  font-weight: 700;
  height: 50px;
  font-size: 18px;
  background-color: #ffb742;
  border-radius: 50px;
  display: flex;
  margin-top: 10%;
}
.hire_me a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #212529;
  align-self: center;
  margin: 0 auto;
}
.skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.skills_left {
  width: 50%;
  padding-left: 50px;
}
.my_skills {
  width: 170px;
  font-weight: 700;
  height: 50px;
  font-size: 18px;
  color: #ffb742;
  background-color: #2f3234;
  border-radius: 50px;
  text-align: center;
  display: flex;
}
.hire_me2 {
  width: 170px;
  font-weight: 700;
  height: 50px;
  font-size: 18px;
  background-color: #ffb742;
  border-radius: 50px;
  display: flex;
  margin-top: 10%;
}
.skills a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #212529;
  align-self: center;
  margin: 0 auto;
}
.my_skills span {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  align-self: center;
  margin: 0 auto;
}
.skills h2 {
  font-family: "Roboto", sans-serif;
  margin-top: 0%;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
.skills p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.skills_right {
  margin-right: 40px;
}
.square {
  width: 90px;
  height: 90px;
  background-color: #383e45;
  border-radius: 10%;
  margin: 12px;
  display: flex;
  justify-content: center;
}
.square:hover {
  background: #ffb742;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.square img {
  padding: 20px;
  box-sizing: border-box;
}
.skills_right1 {
  display: flex;
  /* justify-content: right; */
}
.skills_right2 {
  display: flex;
  /* justify-content: right; */
}
.works {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.my_works {
  margin: auto;
  width: 170px;
  font-weight: 700;
  height: 50px;
  font-size: 18px;
  color: #ffb742;
  background-color: #2f3234;
  border-radius: 50px;
  display: flex;
}
.my_works span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  align-self: center;
  margin: 0 auto;
}
.works h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-top: 0px;
}
.body_nav {
  display: flex;
  width: 100%;
}
.body_nav1:hover a {
  padding: 10px;
  background-color: #ffb742;
  border-radius: 10px;
  color: black;
}
.body_nav1 {
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
}
.body_nav a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.cover {
  display: flex;
  justify-content: center;
  width: 100%;
}
.animation {
  opacity: 1;
}
.animation:hover {
  opacity: 0.5;
}
.cover img {
  padding: 20px;
}

.reviews_header {
  margin-top: 100px;
  width: 100%;
}
.testimonials {
  margin-top: 135px;
  margin: auto;
  width: 170px;
  font-weight: 700;
  height: 50px;
  font-size: 18px;
  color: #ffb742;
  background-color: #2f3234;
  border-radius: 50px;
  display: flex;
}
.testimonials span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  align-self: center;
  margin: 0 auto;
}
.reviews_header h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-top: 0px;
}
.reviews {
  width: 100%;
  margin-top: 50px;
  height: 550px;
  display: flex;
  justify-content: space-around;
}
.reviews1 {
  width: 380px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
}
.reviews1 p {
  padding-left: 30px;
  padding-right: 45px;
  font-size: 20px;
  font-weight: 400;
}
.star {
  padding-top: 50px;
  padding-left: 30px;
}
.star p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.name_foto {
  display: flex;
  padding-top: 40px;
  padding-left: 30px;
}
.name {
  padding: 10px;
}
.khushi {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-weight: 700;
}
.designer {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 400;
}
.footer {
  width: 100%;
  height: 470px;
  background-color: #1c1c1c;
  display: flex;
  justify-content: space-around;
}
.part1 {
  padding-top: 100px;
}
.part1 h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ffb742;
  font-size: 32px;
}
.part1 p {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: #d4d4d4;
  font-size: 16px;
}
.part2 {
  padding-top: 100px;
}
.part2 h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: #f5fbf2;
}
.part2 a {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  display: block;
  padding-bottom: 15px;
  color: #7b7b7b;
  text-decoration: none;
  font-size: 20px;
}
.part3 {
  padding-top: 100px;
}
.part3 h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: #f5fbf2;
}
.part3 a {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  display: block;
  padding-bottom: 15px;
  color: #7b7b7b;
  text-decoration: none;
  font-size: 20px;
}
.part4 {
  padding-top: 100px;
}
.part4 h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: #f5fbf2;
}
.part4 p {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #7b7b7b;
  font-size: 16px;
}
