@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
.page {
  height: 100vh;
  background-color: #ffb084;
  display: grid;
  border-radius: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  padding: 35px;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.frame_1 {
  background-color: #fff;
  border-radius: 20px;
  grid-row: 1/6;
  grid-column: 1/3;
  box-shadow: 7px 7px 0px 0px black;
}
.frame_1 h2 {
  text-align: center;
  font-size: 36px;
}
.foto {
  text-align: center;
}
.foto img {
  width: 30%;
}
.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  font-size: 20px;
}
.text span {
  font-weight: 700;
}
.frame_2 {
  background-color: #fff;
  border-radius: 20px;
  grid-row: 6/7;
  grid-column: 1/3;
  box-shadow: 7px 7px 0px 0px black;
}
.frame_2 p {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
.frame_3 {
  background-color: #fff;
  border-radius: 20px;
  grid-column: 3/7;
  grid-row: 1/2;
  box-shadow: 7px 7px 0px 0px black;
}
.frame_3 h2 {
  font-size: 28px;
}
.frame_3 p {
  font-size: 24px;
}
.frame_4 {
  background-color: #fff;
  border-radius: 20px;
  grid-column: 3/5;
  grid-row: 2/4;
  box-shadow: 7px 7px 0px 0px #29a71e;
}
.frame_4 h2 {
  color: #29a71e;
  font-size: 28px;
}
.frame_4 li {
  font-size: 24px;
  padding-bottom: 10px;
}
.frame_5 {
  background-color: #fff;
  border-radius: 20px;
  grid-column: 3/5;
  grid-row: 4/7;
  box-shadow: 7px 7px 0px 0px #3675b0;
}
.frame_5 h2 {
  color: #3675b0;
  font-size: 28px;
}
.frame_5 li {
  font-size: 24px;
  padding-bottom: 20px;
}
.frame_6 {
  background-color: #fff;
  border-radius: 20px;
  grid-row: 2/5;
  grid-column: 5/7;
  box-shadow: 7px 7px 0px 0px #e13535;
}
.frame_6 h2 {
  color: #e13535;
  font-size: 28px;
}
.frame_6 li {
  font-size: 24px;
  padding-bottom: 10px;
}
.frame_7 {
  background-color: #fff;
  border-radius: 20px;
  grid-column: 5/7;
  grid-row: 5/7;
  box-shadow: 7px 7px 0px 0px black;
}
.frame_7 h2 {
  font-size: 28px;
}
.frame_7 li {
  font-size: 24px;
  list-style: none;
  padding-bottom: 10px;
}
.frame_7 span {
  font-weight: 700;
}
.frame {
  padding: 10px;
}
